html {
    background-color: rgb(176, 255, 229);
}

#lanking_name {
    text-align: center;
    background-color: #00bfa5;
}

#kouho_1-5 {

    position: absolute;
    left: 484px;
    line-height: 70px;

}

#kouho_6-10 {
    position: absolute;
    left: 884px;
    line-height: 70px;
}

.button {
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    font-size: 15px;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: #75ccb9;
    /* 背景色     */
    color: #000000;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    border: 2px solid #75ccb9;
    /* 枠の指定 */
}

.button:hover {
    color: #75ccb9;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}