<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/lanking.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/bbs.css">
    <link rel="stylesheet" href="../static/css/lanking.css">
    <link rel="stylesheet" href="../static copy/css/lanking.css">
</head>
<body>
    <h1 id="lanking_name">{{name}}ランキング</h1>
 
    {% for item in items %}
        <div>
            <p id="aaa">
                <span id="aaaa">{{item['candidate']}} {{item['vote']}}</span>
                <span ></span>
                <form action="/lanking_post/{{item['id']}}" method="POST">
                    <input type="hidden" name="name" value="{{name}}">
                    <input type="hidden" value="{{item['id']}}" name="id">
                    <input type="submit" name="seve" value="投票する" id="bb">
                </form>
            </p>
            
        
            
        </div>
        
        
    
    {%endfor%}
    <a href="/logout">ログアウト</a>
    <a href="/top" id="top_go">topに戻る</a>
    <form class = "form" action="/add/{{name}}" method="POST">
        <input class="input"
           type="text"
           size = "90"
           maxlength = "90"
           name = "coment"
        >
        <input class="send" type="submit" name="save" value="そうしん">
    </form>  
        {% for item in html_bbs %}
        
            <h5 class="name">{{item["name"]}} {{item["time"]}}</h5>  
            <div class="box2">
               <p>{{item["comment"]}}</p>
            </div>
        {% endfor %}
      

</body>
</html>