<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/lanking.css">
</head>
<body>
    {% extends 'base.html'%}
    {% block content %}
    <table border="1">
        <form action="/sakusei" method="post">
            <h1 id="user_name">{{lanking_name}}</h1>
        </form>  
    {% for item in items %}

        <div id="kouho_1-5">
        <!-- <p>1.{{item['kouho_1']}}<input type="submit" name="1_btn" value="1に投票" ></p>
        <p>2.{{item['kouho_2']}}<input type="submit" name="2_btn" value="2に投票" ></p>
        <p>3.{{item['kouho_3']}}<input type="submit" name="3_btn" value="3に投票" ></p>
        <p>4.{{item['kouho_4']}}<input type="submit" name="4_btn" value="4に投票" ></p>
        <p>5.{{item['kouho_5']}}<input type="submit" name="5_btn" value="5に投票" ></p> -->
        <p>{{item['id']}}</p>
        <p>{{item['candidate']}}</p>
        <p>{{item['vote']}}</p>
        <p>{{item['lanking_id']}}</p>
        </div>
        <div id="kouho_6-10">
        <!-- <p>6.{{item['kouho_6']}}<input type="submit" name="6_btn" value="6に投票" ></p>
        <p>7.{{item['kouho_7']}}<input type="submit" name="7_btn" value="7に投票" ></p>
        <p>8.{{item['kouho_8']}}<input type="submit" name="8_btn" value="8に投票" ></p>
        <p>9.{{item['kouho_9']}}<input type="submit" name="9_btn" value="9に投票" ></p>
        <p>10.{{item['kouho_10']}}<input type="submit" name="10_btn" value="10に投票" ></p> -->
        
        </div>
    
    </table>
    {%endfor%}
    {% endblock %}
</body>
</html>