<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
{% extends 'base.html'%}
{% block content %}
    <form action="/" method="post">
        <h1 id="user_name">{{name}}さんこんにちは</h1>
    </form>  
    <div id="sakusei_div"><a href="/lanking_name" id="sakusei_a">ランキングを作る</a></div>
    <div id="my_ranking">
        <h1 id="aa">自分が作ったランキング一覧</h1>
        {% for item in aaaa %}
        <div id="lanking_div"><a href="/lanking/{{item['name']}}"><p id="lanking_a">{{item['name']}}ランキング</p></div>
        {%endfor%}
        <a href="/top" id="top_go">topに戻る</a>
{% endblock %}
</body>
</html>
 
